body {
  background-image: url("img/money_pile_edit.jpg");
  background-repeat: repeat-y;
  background-position: top;
  min-width: 320px;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  color: grey;
}

.intro {
  display: none;
  text-align: center;
  margin-top: 10vh;
  width: 85vw;
}

.content {
  text-align: center;
  margin-top: 10vh;
  width: 85vw;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

header {
  text-align: center;
  font-family: Roboto;
  font-variant: small-caps;
  font-size: 1.3em;
  width: 100%;
  margin: 0px 0px 0px 0px;
  background-color: rgba(2,5,41,1);
  color: grey;
  align-self: center;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#moneySuit {
  height: inherit;
}

.body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  order: 1;
}

#chamberSearch {
  margin-left: 3%;
}

article {
  min-width: auto;
  max-width: 49%;
  height: auto;
  min-height: 8vh;
  border-radius: 5px;
  color: white;
}

aside p {
  width: 100%;
  margin: 1%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro {
  margin-top: 5vh;
  width: 50vw;
  font-family: Roboto;
  flex-direction: column;
  color: white;
  font-weight: 700;
}

.intro h2 {
  color: rgba(255,78,0,1);

}

.committeesSumC>p, .committeesSumI>p {
  font-size: 1.2em;
  color: rgba(67,153,28,1);
}

.details {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: none;
  font-family: roboto;
  font-size: 2em;
  color: white;
  font-variant: small-caps;
}

.REP, .CON {
  background-color: rgba(255,51,51,.85);
}

.DEM {
  background-color: rgba(25,25,255,.85);
}

.IND {
  background-color: rgba(153,50,153,.85);
}

.GRE {
  background-color: rgba(50,153,50,.85);
}

.NPA {
  background-color: rgba(255,165,0,.85);
}

.LIB {
  background-color: rgba(204,204,0,.85);
}

#incumbentView, #challengerView, #incumbentCommittees, #challengerCommittees, #incumbentViewTitle, #challengerViewTitle, #incumbentCommitteesTitle, #challengerCommitteesTitle {
  background-color: rgba(0,0,0,0.4);
  color: white;
  border-style: none;
  margin: 2vh;
  margin-top: 1vh;
  width: 25%;
  height: auto;
  text-align: center;
  font-variant: small-caps;
  font-family: Roboto;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
}

#incumbentViewTitle, #challengerViewTitle, #incumbentCommitteesTitle, #challengerCommitteesTitle {
  background-color: rgba(0,0,0,0);
}

#incumbentCommittees, #challengerCommittees {
  align-items: flex-start;

  display: inline-block;
}

#incumbentCommittees>p:first-child, #challengerCommittees>p:first-child {
  color: rgba(255,78,0,1);
  font-size: 1.3em;
  margin-bottom: 10%;
  border-bottom: solid;
  border-color: white;
  border-width: thin;
}

#incumbentCommittees p, #challengerCommittees p {
  color: rgba(255,78,0,1);
  margin-bottom: 5%;
}

.finance {
  background-color: white;
  color: black;
  flex-direction: column;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  font-family: roboto;
  background-color: rgba(255,78,0,1);
  width: 100vw;
  order: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  clear: both;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

select, button, #submitButton {
  background-color: rgba(2,5,41,1);
  font-size: 1.2em;
  color: white;
  height: auto;
  width: auto;
  border-radius: 8px;
  font-variant: small-caps;
}

#calculateButton {
  display: none;
  margin-bottom: 3vh;
}

#submitButton {
  margin-top: 10px;
}

#resetButton {
  display: none;
}

.formError {
  height: auto;
  width: auto;
  color: red;
  font-size: 1.5em;
}

.error {
  color: red;
  font-size: 1.5em;
}
